<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

  <settings>
    <setting name="mapUnderscoreToCamelCase" value="true"/>
  </settings>

  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <!-- 配置数据库连接信息 -->
      <dataSource type="POOLED">
        <property name="driver" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://10.9.113.30:3306"/>
        <property name="username" value="dev_w"/>
        <property name="password" value="6nvjq0_HW"/>
      </dataSource>
    </environment>
  </environments>

  <mappers>
    <!-- 注册userMapper.xml文件，
    userMapper.xml位于me.gacl.mapping这个包下，所以resource写成me/gacl/mapping/userMapper.xml-->
    <mapper resource="config/query.xml"/>
  </mappers>

</configuration>